/* UNIVERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first-color: #010101;
    --second-color: #ED017F;
    --third-color: #676767;
    --fourth-color: #CCCCCC;
    --fifth-color: #343434;
    --sixth-color: #999999;
    --seventh-color: #363940;
    --eighth-color: #FEF9FC;
    --ninth-color: #FFFFFF;
}
::-webkit-scrollbar{
    display: none;
}
/* COMMON CLASSES */
.container{
    max-width: 1368px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}
section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: "Metrophobic", sans-serif;
}
.cmn-btn{
    background-color: var(--second-color);
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: background-color 0.4s ease-in-out;
}
.cmn-btn:hover{
    background-color: var(--first-color);
}
h1, .heading-1{
    font-size: 57px;
    color: var(--first-color);
    margin-bottom: 23px;
}
h2, .heading-2{
   font-size: 36px;
   color: var(--fifth-color);
   margin-bottom: 18px;
}
h5, .heading-5{
    font-size: 22px;
    color: var(--seventh-color);
    margin-bottom: 10px;
}
h6, .heading-6{
    font-size: 21px;
    font-weight: 600;
    color: var(--seventh-color);
}
p{
    font-weight: 500;
    color: var(--third-color);
    font-size: 16px;
    margin-bottom: 38px;
}
/* HEADER SECTION */
.header-sec{
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--eighth-color);
    z-index: 999;
}
.navbar-brand{
    width: 175px;
}
.nav-item{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 42px;
}
.nav-link{
    color: var(--first-color);
    position: relative;
    transition: all 0.4s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--second-color);
}
.nav-link::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--second-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    transition: width 0.4s ease-in-out;
}
.nav-link::before{
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--second-color);
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 0px;
    transition: width 0.4s ease-in-out;
}
.nav-link:hover::after{
    width: 100%;
}
.nav-link:hover::before{
    width: 100%;
}
.nav-right a{
    margin-right: 27px;
    color: var(--second-color);
    transition: color 0.4s ease-in-out;
}
.nav-right a:hover{
    color: var(--first-color);
}
/* BANNER SECTION */
.btn-1{
    padding: 13px 23px;
}
.btn-2{
    padding: 13px 20px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
    background-color: transparent;
    margin-left: 20px;
}
.banner-btn{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 51px;
}
.media-links{
    padding-left: 22px;
}
.media-links li{
    margin-right: 16px;
}
.fa-phone{
    font-size: 24px;
    margin-right: 11px;
    color: var(--second-color);
}
.banner-left{
    padding-right: 22px;
    border-right: 1px solid var(--fourth-color);
}
.banner-left span{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 4px;
    color: var(--first-color);
}
.banner-sec p{
    font-size: 16px;
}
.banner-right{
    position: relative;
}
.flow-btn{
    padding: 20px 27px;
    border-radius: 55px;
    color: var(--fifth-color);
    font-size: 18px;
    position: absolute;
    background-color: var(--ninth-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    transition: all 0.4s ease-in-out;
}
.flow-btn:hover{
    background-color: var(--second-color);
    color: var(--ninth-color);
}
.flow-btn:hover i{
    color: var(--ninth-color);
}
.flow-1{
    top: 30px;
    left: 10%;
}
.flow-2{
    top: 142px;
    right: 10%;
}
.flow-btn i{
    color: var(--second-color);
    margin-right: 19px;
}
/* EXPERIENCE SECTION */
.exp-sec{
    padding: 100px 0 66px;
}
.exp-head{
    margin-bottom: 78px;
}
.exp-head p{
    font-size: 16px;
    color: var(--sixth-color);
}
.exp-text p{
    font-size: 14px;
    font-weight: 500;
    color: var(--sixth-color);
}
.exp-image{
    width: 37px;
    margin-bottom: 18px;
}
/* SERVICE SECTION */
.serv-sec{
    background-color: var(--eighth-color);
    padding: 100px 0 69px;
}
.serv-head{
    margin-bottom: 66px;
}
.serv-head h2{
    margin-bottom: 19px;
}
.serv-head p{
    color: var(--sixth-color);
}
.cmn-serv{
    max-width: 254px;
    margin: auto;
    transition: transform 0.5s ease-in-out;
}
.cmn-serv:hover{
    transform: translateY(-20px);
}
.serv-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.serv-text h3{
    width: 70%;
}
.serv-text img{
    width: 37px;
}
/* RESULT SECTION */
.result-sec{
    padding: 99px 0 94px;
}
.result-head{
    margin-bottom: 91px;
}
.result-head h2{
    margin-bottom: 20px;
}
.result-head p{
    color: var(--sixth-color);
}
.cmn-result{
    max-width: 172px;
    margin: auto;
}
.cmn-result .outer{
    font-size: 40px;
}
.cmn-result .inner{
    font-size: 30px;
}
.active span{
    color: var(--second-color);
}
/* FOOTER SECTION */
.footer-sec{
    padding-block: 87px;
}
.cmn-footer{
    padding: 0 30px;
}
.footer-head{
    font-size: 18px;
    font-weight: 600;
    color: var(--first-color);
    margin-bottom: 20px;
}
.cmn-footer p{
    font-size: 14px;
    margin-bottom: 16px;
}
.footer-medias{
    padding-left: 0;
}
.footer-medias li{
    margin-right: 16px;
}
.footer-links{
    margin: 0;
    padding-left: 0;
}
.footer-links li{
    text-transform: capitalize;
    margin-bottom: 10px;
}
.footer-links li a{
    color: var(--third-color);
    transition: color 0.4s ease-in-out;
}
.footer-links li a:hover{
    color: var(--second-color);
}
.cmn-footer .call{
    color: var(--first-color);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}